*{
    padding:0;
    margin:0;
    font-family: Helvetica;
    color: white;
}

/* Barra de navegacion */
nav{
    background-color: rgba(34, 34, 34, 0.80);
    position: relative;
    top: 10px;
    z-index: 20;
    margin-left: 10%;
    /* margin-top: 50px; */
}
nav >div{
    float: left;
    margin-top: -26px;
}
nav > div >a >img{
    background-color: red;

}

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;

}

nav ul li{
    padding:25px 16px;
    margin: 0 6px;

}

nav ul li a{
    text-decoration: none;
    color: white;
}

header{
    background-image: url(https://uicookies.com/demo/theme/sweep/images/slider/slide1.jpg);
    background-size: cover;
    height: 120vh;
    position: relative;
    text-align: center;
    
}

/* Titulo  */
header > div{
    width: 1040px;
    position: absolute;
    top: 61%;
    right:0;
    bottom: 20%;
    left:0;
    margin: auto;
}

header > div > h1{
    font-size: 48px;
    font-weight: lighter;

}

header > div > h1 > span{
    color: red;
    font-weight: 600;
}


/* Section Services */


main > section.container_services,main > section.container_portafolio{
    margin:-100px 78px 0 0;
    position: relative;
    /*background: -webkit-linear-gradient(left, #e8432a 0%, #e8432a 100%), -webkit-linear-gradient(left, #e8432a 0%, #e8432a 100%);*/
    background: linear-gradient(225deg, transparent 71px, rgba(232,67,42,1) 0);
    padding-bottom: 200px;
    
}

main > section.container_services::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-top: 100px solid transparent; 
    border-left: 100px solid #f27d68;


}

main >section.container_services::after{
    content: "";
    position: absolute;
    top: 0;
    right: 100px;
    border-top: 100px solid rgba(0, 0, 0, .15);
    border-left: 100px solid transparent;
}

main > section.container_services> h2, main > section.container_portafolio > h3{
    font-size: 48px;
    font-weight: lighter;
    margin-left: 78px;
    padding: 50px 0;
}
main > section.container_services > h2 > span, main > section.container_portafolio > h3 > span {
    font-weight: 600;
    
}

main > section.container_services > div{
    margin-left: 78px;
    display: flex;
    flex-wrap: wrap;

}

main > section.container_services > div > div{
    background-color: rgb(217,57,33);
    padding: 20px;
    margin: 0 9px 30px;
    text-align: center;
    height: 260px;
    width: 230px;
    position: relative;
}

main > section.container_services > div > div::before{
    content:"";
    position:absolute;
    bottom: 0;
    left:0;
    border-top: 20px solid rgba(255, 255, 255, 0.5);
    border-left: 20px solid  rgba(232,67,42,1);
}

main > section.container_services > div > div::after{
    content:"";
    position:absolute;
    bottom: 0;
    left: 20px;
    border-top: 20px solid transparent;
    border-left: 20px solid rgba(0, 0, 0, 0.15);
}


main > section.container_services > div > div:hover{
    background-color: rgb(53,54,44);
}


main > section.container_services > div > div > i{
    font-size: 3em;
    line-height: 100px;
    display: block;
}
main > section.container_services > div > div> span{
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
}

main > section.container_services > div > div > p{
    font-size: 16px;
    font-weight: lighter;
    margin-top: 20px;
} 

/* Section Portafolio */

main > section.container_portafolio{
    margin:-100px 0 0 78px;
    background: linear-gradient(135deg, transparent 71px, rgba(128,181,54,1) 0);
}

main > section.container_portafolio::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 100px solid  rgb(159, 204, 92) ;
}

main > section.container_portafolio::after{
    content: "";
    position: absolute;
    top: 0;
    left: 100px;
    border-top: 100px solid rgba(0, 0, 0, .15);
    border-right: 100px solid transparent;
}

main > section.container_portafolio > h3{
    text-align: end;
    margin-right: 78px;

}

main > section.container_portafolio > div {
    display: flex;
    margin: 50px 0 0 20px;
    position: relative  ;

}

main >section.container_portafolio > div > div{
    width: 228px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

main > section.container_portafolio > div > div > img {
    width: 100%;
}

main > section.container_portafolio > div > div:nth-child(even){
    top: 45px;
} 

main > section.container_portafolio > div > div > div {
 
    position: absolute;
    top: 0;
    width: 100%;
    height: 346.953px;
    box-sizing: border-box;
}



main > section.container_portafolio > div > div:hover > div{
    border: 15px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, .5);
    transition: all 500ms ease-in-out;
} 

main > section.container_portafolio > div > div > div > div > a{
    font-size: 3em;
    padding: 15px;
    text-decoration: none;
    border: 5px solid white;
    border-radius: 50%;
}
main > section.container_portafolio > div > div > div > div {
    position: relative;
    top: 102%;
    
}
main > section.container_portafolio > div > div:hover > div > div{
    top:40%;
    transition: all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
main > section.container_portafolio > div > div > div > div >a.fa-info{
    padding: 15px 30px;
} 

main > section.container_portafolio > div > div > div > div > a:hover{
    border-style: dashed;
}